<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GoodBurger.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        

        <NavLink href="/pedidos">Pedidos</NavLink>
        <NavLink href="/criar">Criar Pedido</NavLink>
    </nav>
</div>

